<div id="events" class="events" style="height:100vh;">
    <div class="container">
        <h2 class="text-center">Onam 2018</h2>
            <div class="offset-sm-2 col-sm-8">
                <img src="assets/images/onam2018.png" class="img-fluid">
            </div>
    </div>
</div>